.post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    background-color: darkgray;

}

.post-button{
    margin-bottom: 30px;
}


.post-button:hover{
    cursor: pointer;
}