.auth{
    background-image: linear-gradient(to right, rgb(235, 95, 149) , yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    padding: 7px;
    box-shadow: 10px 20px 50px 5px grey;
    border-radius: 10px;
}
.auth-container {
    background-image: linear-gradient(to right, rgb(235, 95, 149) , yellow);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.logo{
    height: 35px;
    width: 35px;
    justify-items: center;
    padding-right: 100px;
    padding-bottom: 20px;
}


.title{
    font-size: 47px;
    margin: 0%;
    color: white;
    padding: 0;
}



.username{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username-title{
    margin-left: 10%;
    color: aliceblue;
}

.username-input{
    margin-top: 1.5%;
    margin-right: 20%;
    margin-left: 5%;
    width: 600px;
    height: 30px;
}



.password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.password-title{
    margin-left: 10%;
    color: aliceblue;
}


.password-input{
    margin-top: 1.5%;
    margin-right: 20%;
    margin-left: 5.7%;
    width: 604px;
    height: 30px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}


.login-button{
    color: white;
    background-color: rgb(83, 80, 80);
    border: 0;
    border-style: outset;
    padding: 2% 6% 2% 3%;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    font-size: 14px;
}

.login-button:hover{
    cursor: pointer;
}

.register-button{
    color: white;
    background-color: rgb(83, 80, 80);
    border: 0;
    border-style: outset;
    padding: 2% 6% 2% 4%;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
}


.error-message{
    color: red;
}