.post-details{
    display: flex;
    background-color: white;
}


.post-details-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 15%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);  
}

.title-and-image {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}



.content {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.post-username-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-file {
    height: 500px;
    margin: 20px 20px 40px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.8);
}

.poster {
    font-weight: bold;
    margin-left: 4px; 
}